*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-color:#34355B;
    --btn-color:#7879F1;
    --white-color:#ffff;
    --input-color:#DCE2E9;
    --font-monte: 'Montserrat', sans-serif;
    --font-dm:'DM Sans', sans-serif;
    
    font-size: 62.5%;
}

body{
    background: linear-gradient(315deg, #C2E9FB 0%, #A1C4FD 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
}

.hide{
    display: none;
}

body,input,button{
    font-family: var(--font-dm);
}

main{
    width: min(42.8rem, 90%);
    background-color: var(--white-color);
    padding: 4.8rem 6.4rem;
    text-align: center;
    border-radius: 0.6rem;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

main h1{
    font-family: var(--font-monte);
    font-weight: var(--text-color);
    font-weight: 600;
    font-size: 2.4rem;
}

main p{
    color: var(--text-color);
    opacity: 0.8;
    margin-top: 1.6rem;
}

form{
    margin-top: 4.8rem;
    display: flex;
    justify-content: center;
}

form input,button{
    padding: 1.6rem;
    border: none;
}

form input{
    width: 6rem;
    background-color: var(--input-color);
    border-radius: 0.4rem 0 0.4rem;
    color: var(--text-color);
}

button{
    background-color: var(--btn-color);
    color: var(--white-color);
    font-weight: bold;
    font-size: 1.6rem;
    font-weight: 700;
    border-radius: 0 0.4rem 0.4em 0;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color:#8080d6;
}

h2{
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 3.3rem;
}

.screen2 button{
    border-radius: 0.4rem   ;
}